#header-section {
    width: 100%;
    height: 125px;
    background-color: var(--main-bg-color);
    padding: 50px 0px 10px 0px;
    display: flex;
}
#logo-section {
    width: 125px;
    height: inherit;
    padding: 0px 30px 0px 60px;

    /*background: rgb(255 84 104 / 30%);*/
    /*border: 2px solid rgb(255 84 104);*/
}
#logo {
    width: inherit;
}
#menu-bar {
    height: inherit;
    padding: 0px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /*background: rgb(255 84 104 / 30%);*/
    /*border: 2px solid rgb(255 84 104);*/
}
#site-title {
    height: 1em;
}
#footer-menu-section,
#menu-sections {
    height: 20px;
    display: flex;

    /*background: rgb(104 84 255 / 30%);*/
}
#footer-tabs,
#menu-tabs {
    min-width: 1rem;
    min-height: 1rem;
    margin-right: 2rem;

    /*border: 2px solid blue;*/
}

#body-section {
    height: 100%;
    padding: 0px 80px 0px 80px;
    background-color: var(--main-bg-color);

    /*background: rgb(255 84 104 / 30%);*/
    /*border: 2px solid rgb(255 84 104);*/
}

#footer-section {
    height: 20px;
    color: #5f5f5f;
    background-color: var(--main-bg-color);
    padding: 10px 60px 10px 60px;
    font-size: 14px;
    display: flex;
}
